/* Site Colors */
:root {
  --primary-color: #000980;
  --white: #ffffff;
  --accent-color: #ED4C37;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  font-family: 'Playfair Display', serif;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Header Styles */
header {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 5%;
}

header h1,
header nav {
  flex-basis: 100%;
}

header h1 {
  margin: 20px 0 30px 0;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: .2em;
  text-align: center;
}

header h1 a {
  color: var(--primary-color);
  text-decoration: none;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

header nav span {
  display: inline-block;
  padding: 14px 10px 10px 10px;
  margin: 0 25px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .1em;
  cursor: pointer;
  border-bottom: solid 4px rgba(0,0,0,0);
}

header nav span.current {
  border-bottom: solid 4px var(--primary-color);
}

header nav span:hover {
  color: var(--accent-color);
}

header nav span.current:hover {
  border-bottom: solid 4px var(--accent-color);
}

/* Main Content Styles */
main {
  flex: 1 0 auto;
}

/* Footer Styles */
footer {
  flex-shrink: 0;
  margin: 30px 0;
}

footer .legal {
  font-family: 'Roboto', sans-serif;
  opacity: .6;
  text-align: center;
}


/* Responsive Styles */
@media screen and (min-width: 1200px) {
  header h1,
  header nav {
    flex-basis: auto;
  }
}