/* Site Colors */
:root {
  --primary-color: #000980;
  --white: #ffffff;
  --accent-color: #ED4C37;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-color);
  font-family: 'Playfair Display', serif;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 3%;
}

/* Header Styles */
header {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

header h1,
header nav {
  flex-basis: 100%;
}

header h1 {
  margin: 30px 0 20px 0;
  text-transform: uppercase;
  font-size: 34px;
  line-height: 1.3em;
  letter-spacing: .2em;
  text-align: center;
}

header h1 a {
  color: var(--primary-color);
  text-decoration: none;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}

header nav span {
  display: inline-block;
  padding: 14px 6px 10px 6px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .1em;
  cursor: pointer;
  border-bottom: solid 4px rgba(0,0,0,0);
}

header nav span.current {
  border-bottom: solid 4px var(--primary-color);
}

header nav span:hover {
  color: var(--accent-color);
}

header nav span.current:hover {
  border-bottom: solid 4px var(--accent-color);
}

/* Main Content Styles */
main {
  flex: 1 0 auto;
}

main section {
  margin-top: 30px;
  margin-bottom: 20px;
}

main section .title-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

main section h2 {
  color: var(--white);
  background-color: var(--primary-color);
  width: 160px;
  height: 160px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 42px;
  display: inline-block;
}

main section p {
  clear: both;
  font-size: 18px;
  line-height: 1.75em;
  padding: 12px 0;
}

main section .paragraph-start {
  font-size: 1.1em;
  font-weight: 700;
}

/* About Content Styles */
#intro {
  margin: 40px 8% 80px 8%;
  text-align: center;
}

#intro p {
  font-size: 32px;
  line-height: 1.5em;
}

#intro img {
  margin-bottom: 20px;
  width: 250px;
  height: auto;
}

#about {
  display: flex;
  flex-wrap: wrap;
}

#about .title-wrapper {
  flex-basis: 100%;
}

#about .content-wrapper {
  flex-basis: 100%;
}

#about h2 {
  padding: 45px 100px 55px 0;
  margin-right: 140px;
}

#about img {
  width: 60%;
  height: auto;
  margin-top: -50px;
  margin-left: 60px;
}

/* Footer Styles */
footer {
  flex-shrink: 0;
  margin: 30px 0;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

footer ul li {
  padding: 0 26px;
  margin-bottom: 20px;
}

footer ul li a {
  font-size: 30px;
  color: var(--primary-color);
}

footer ul li a:hover {
  color: var(--accent-color);
}

footer .legal {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  opacity: .6;
  text-align: center;
  margin-top: 20px;
}


/* Responsive Styles */
@media screen and (min-width: 576px) {
  .page-wrapper {
    margin: 0 5%;
  }

  #about img {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  header {
    margin-top: 10px;
  }
  
  header h1 {
    font-size: 36px;
  }

  header nav span {
    font-size: 18px;
  }

  #about {
    flex-wrap: nowrap;
  }

  #about .title-wrapper {
    flex-basis: 30%;
  }
  
  #about .content-wrapper {
    flex-basis: 70%;
    padding-left: 10px;
  }

  #about img {
    width: 70%;
    margin-top: -40px;
    margin-left: 20px;
  }

  footer ul li a {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  header h1,
  header nav {
    flex-basis: auto;
  }

  header nav span {
    padding: 20px 10px 10px 10px;
    margin: 0 25px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1400px) {
  main section p {
    font-size: 22px;
  }

  #about img {
    width: 60%;
    margin-top: -50px;
    margin-left: 70px;
  }
}